.title-row {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.25rem;
	border-bottom: 0px solid var(--nc-bg-2);
	padding-bottom: 7px;
	margin-bottom: 1rem;
}

.title-row h1 {
	border-bottom: none;
	padding-top: 0;
	padding-bottom: 3px;
	margin-bottom: 0;
}

.title-row .time-author {
	border-bottom: none;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	color: #888888;
}

.logo svg {
	display: block;
	height: 2.25rem;
	width: auto;
}

:root {
	/*--nc-bg-1: #f7f7f2;
	--nc-bg-2: #d8d8d8;
	--nc-tx-1: #222;
	--nc-tx-2: #222;
	--nc-lk-1: #c79200;
	--nc-lk-2: #c79200;
	--nc-lk-tx: #c79200;*/
	/*--nc-tx-1: #ffffff;
	--nc-tx-2: #eeeeee;
	--nc-bg-2: #111111;
	--nc-bg-2: #222222;
	--nc-ac-1: #7928CA;
	--nc-ac-tx: #FFFFFF;*/
}

/* Fix: code block background on mobile horizontal scroll */
pre.sourceCode {
    min-width: max-content;
}
