<p>Hi, my name is Žiga Putrle, and I'm a software developer based in Ljubljana, Slovenia. I'm currently working at <a href='https://www.xiphra.com/'>Beyond Semiconductor</a>.<br><br> 

I'm enthusiastic about a lot of things but mostly my interests revolve around programming, formal software verification, proof assistants, computer security, control systems, algorithms, logic, and math in general. I enjoy solving problems and working on mission critical systems.

<br><br> Please feel free to contact me at <a href='mailto:{{contact@zputrle.com}}'>contact@zputrle.com</a>. I'm always glad to grab a cup of coffee and exchange ideas. <br><br> Have a great day!</p>
